body{
background-image:url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v438-tang-14a-cherryblossom_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=8fce2c18a4538beaa1c6e8a1963c53e6);
}
form{
background-color:white;
color:#ff0084;
heigh:380px;
width:380px;
text-align:center;
margin-right:auto;
margin-left:auto;
}
button{
background-color:#ff0084;
color:#FFC0CB;
text-align:center;
heigh:190px;
width:190px;

}
#Senha{
background-color:#ff0084;
color:white;
}
input{
background-color:pink;
}
